@import './variables.module.scss';
.app_layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #2d2d2d;

    .app_layout_header,
    .app_layout_footer
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-inline: 5vw;
      color: #fdfdfd;
      font-size: 1.8vh;
      letter-spacing: 0.5px;
      padding: 1vw;
    }

    .app_layout_footer{
      .linkTo_me{
        color: #c673fd;
      }
      .linkTo_me:hover{
        color: #fdfdfd;
      }
 
    }

      
}