.chats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &_content {
    display: flex;
    width: calc(100vw - 100px);
    height: calc(90vh - 100px);
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .chats_chat_window {
      flex: 2;
      display: flex;
      background-color: #ffffff;
      border-radius: 8px 0 0 8px;

      &_inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        padding: 10px;
        border-right: 1px solid #202020 ;
        gap: 20px;
        background-color: #d2ffb4;

        input[type="color"] {
          width: calc(100% - 5px);
          height: 30px;
        }

        .chats_userPhoto {
          width: 50px;
          height: 55px;
          border-radius: 50%;
        }
      }

      &_messages {
        flex: 1;
        display: flex;
        flex-direction: column;
        

        &_message_board {
          border: 1px solid #ccc;
          padding: 10px;
          background-color: rgba(211, 211, 211, 1);
          flex: 1;

          .noRoom{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            h1{
              font-size: calc(3vw + 10px);
              font-weight: 600;
            }

            p{
              font-size: calc(.5vw + 10px);
              font-weight: 400;

          }
        }

          .room{
            
          }
        }

        &_input {
          display: flex;
          input[type="textarea"] {
              background-color: #9efff7;
              border: none;
              padding: 10px;
              font-family: Arial, sans-serif;
              font-size: 14px;
              line-height: 20px;
              resize: none;
              width: 100%;
              height: 100%;
          }

          &_send {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #ff8af9;

            button {
              &.chat_inputBtn {
                display: inline-block;
                padding: 10px calc(2vw + 10px);
                background-color: #b384ff;
                color: #fff;
                border: none;
                font-size: 16px;
                border: 2px solid black;
                cursor: pointer;
                transition: background-color 0.3s ease;
              }

              &:hover {
                background-color: #9400d9;
              }

              &:disabled {
                background-color: #ccc;
                cursor: not-allowed;
              }
            }

          }
        }
      }
    }

    .chats_chats_select {
      flex: 1;
      background-color: #f8f8f8;
      border-radius: 0 8px 8px 0;
    }
  }
}