
.page_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height as needed */
  }
  
  .spinner {
    border: 4px solid rgba(94, 94, 94, 0.1);
    border-top: 4px solid #c673fd; /* Change color as needed */
    border-radius: 50%;
    width: calc(20vw + 10vh); /* Set size as needed (based on parent container) */
    height: calc(20vw + 10vh);
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  